<f:if condition="{settings.sender.addDisclaimerLink} && {mail.uid}">
	<p>
		<f:translate key="disclaimer_mailmessage" extensionName="Powermail">Do you want to delete your request?</f:translate><br />
		<f:link.action extensionName="Powermail" pluginName="Pi1" controller="Form" action="disclaimer" absolute="1" arguments="{mail:mail.uid,hash:hashDisclaimer}" additionalParams="{L:L}"><f:translate key="disclaimer_mailmessage_link" extensionName="Powermail">delete</f:translate></f:link.action>
	</p>
</f:if>
